<div class="jsaon-navbar">
    <div class="jsaon-navbar-column">
        <ul>
            <li>
                <a class="active" id="nama" href="{{ site.baseurl }}/">
                    Jsaon's Page
                </a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">
                    Assignment
                </a>
                <div class="dropdown-content">
                    <a href="{{ site.baseurl }}/W01">Week 01</a>
                    <a href="{{ site.baseurl }}/W02">Week 02</a>
                    <a href="{{ site.baseurl }}/W03">Week 03</a>
                    <a href="{{ site.baseurl }}/W04">Week 04</a>
                    <a href="{{ site.baseurl }}/W05">Week 05</a>
                    <a href="{{ site.baseurl }}/W06">Week 06</a>
                    <a href="{{ site.baseurl }}/W07">Week 07</a>
                    <a href="{{ site.baseurl }}/W08">Week 08</a>
                    <a href="{{ site.baseurl }}/W09">Week 09</a>
                    <a href="{{ site.baseurl }}/W10">Week 10</a>
                </div>
            </li>
            <li>
                <a href="{{ site.baseurl }}/TXT/myrank.txt">
                    Top Rank
                </a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/TXT/mypubkey.txt">
                    Key
                </a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/TXT/mylog.txt">
                    Log
                </a>
            </li>
            <li>
                <a href="{{ site.urlgithub }}">
                    Github
                </a>
            </li>
        </ul>
    </div>
</div>
