<div class="jsaon-navbar">
    <div class="jsaon-navbar-column">
        <ul>
            <li>
                <a class="active" id="nama" href="{{ site.baseurl }}/">
                    Jsaon's Page
                </a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">
                    Assignment
                </a>
                <div class="dropdown-content">
                    <a href="{{ site.baseurl }}/W01">Week 01</a>
                </div>
            </li>
            <li>
                <a href="{{ site.baseurl }}/TXT/myrank.txt">
                    Top Rank
                </a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/TXT/mypubkey.txt">
                    Key
                </a>
            </li>
            <li>
                <a href="{{ site.baseurl }}/TXT/mylog.txt">
                    Log
                </a>
            </li>
            <li>
                <a href="{{ site.urlgithub }}">
                    Github
                </a>
            </li>
        </ul>
    </div>
</div>
